.jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background: none;
	border-radius: .3rem;
	text-align: center
}
.display-3 {
	color: white;
}

.lead {
	color: white;
}

.navbar{
	padding-left: 2rem;
}
.sectionLight{
	background-color: black;
	padding: 2em;
	padding-bottom: 2rem;
}


.sectionDark {
	background-color: #fdb915;
	padding: 2rem;
}

.coolStuffWrapper {
	margin-top: 20px;
}

.howtobuy {
	margin-left: 3rem;
	margin-bottom: 2rem;
	color: white;
}

button.coolStuffBtn {
	background-color: red;
	color: #ffffff;
	display: block;
	margin: auto;
}

h5.modal-title {
	margin: auto;
}

.modalFormWrapper {
	padding: 2rem;
}


.FMlogo {
	border-radius: 10%;
}

.imgCenter {
	display: block;
	margin: auto;
	text-align: center;
}

.btnCenter {
	display: block;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	width: 54%;
}
.imgalign {
	text-align: left;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-google-plus-square {
	color: #c32f10;
}

.fa-instagram {
	color: #ffffff;
}

.footer {
	background-color: #212529;
	
}
.steps {
	color: #161616;
}

.step {
	color: black;
}

.fa {
	margin: 10px;
}


.socialWrapper {
	margin: auto;
}

